* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar {
    margin: 25.5px;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-right: 72px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #ff0000;
}

.navbar a:hover {
    border-bottom: 2px solid #ff0000;
}

.header-image {
    width: 100%;
}

.main {
    background: rgba(0, 0, 0, 0.0001);
}

.title-text {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
    letter-spacing: 3.3px;
    margin: 48px 0 38px 0;
    color: #373737;
    text-align: center;
}

.paragraph-text {
    margin: 28px 67.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4;
    text-align: center;
}

.get-started-button {
    display: block;
    background-color: red;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 191px;
    height: 51px;
    margin: 66px auto;
    text-align: center;
}

.get-started-button:hover {
    background-color: #ee3d3d;
    cursor: pointer;
}

.footer {
    margin: 82px 105px 29px;
}

.copyright {
height: 39px;
font-family: 'Montserrat';
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 2.4000000953674316px;
text-align: right;
color: #373737;
}